In [1]:
import pandas as pd
import os

In [7]:
def extract_data(file_name, file_path):
    !kaggle competitions download -c springleaf-marketing-response -f$file_name -p$file_path --force

In [3]:
!kaggle competitions download - c springleaf-marketing-response

usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: unrecognized arguments: c springleaf-marketing-response

In [4]:
train_file_name = 'train.csv.zip'
test_file_name = 'test.csv.zip'

In [5]:
raw_data_path = os.path.join(os.path.pardir, 'ml_learning', 'raw')

In [8]:
extract_data(train_file_name, raw_data_path)
extract_data(test_file_name, raw_data_path)

Downloading train.csv.zip to ../ml_learning/raw
100%|████████████████████████████████████████| 150M/150M [01:24<00:00, 1.93MB/s]

Downloading test.csv.zip to ../ml_learning/raw
100%|████████████████████████████████████████| 150M/150M [01:23<00:00, 1.97MB/s]

In [11]:
train = pd.read_csv('raw/train.csv.zip')

/Users/dsolomos/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
test = pd.read_csv('raw/test.csv.zip')

In [17]:
train.describe()

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,145231.000000,145231.000000,145231.000000,1.452310e+05,145175.000000,145175.00000,145175.000000,145175.000000,145175.000000,145175.000000,...,145231.000000,145231.000000,145231.000000,145231.000000,1.452310e+05,145231.000000,145231.000000,145231.000000,145231.000000,145231.000000
mean,145124.981808,105.278040,88.492285,3.721946e+03,0.693907,0.51316,0.693907,0.494493,0.476763,1.447598,...,0.549965,86.664369,89.828762,914.417259,9.904497e+08,922.938505,936.487905,9942.162279,8849.839111,0.232547
std,83890.290627,143.351237,125.903323,1.228001e+04,1.604578,1.17531,1.604578,1.115085,1.000755,1.132784,...,6.361312,31.347700,26.928221,276.361514,9.725818e+07,212.087416,210.370833,743.153332,3175.797333,0.422457
min,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000
25%,72342.500000,24.000000,13.000000,1.790000e+03,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
50%,145272.000000,60.000000,55.000000,2.500000e+03,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
75%,217686.500000,132.000000,120.000000,3.600000e+03,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
max,290463.000000,999.000000,999.000000,2.200000e+06,68.000000,66.00000,68.000000,67.000000,35.000000,39.000000,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.000000,999.000000,9999.000000,9999.000000,1.000000

In [24]:
train.isnull().sum()

ID           0
VAR_0001     0
VAR_0002     0
VAR_0003     0
VAR_0004     0
VAR_0005     0
VAR_0006    56
VAR_0007    56
VAR_0008    56
VAR_0009    56
VAR_0010    56
VAR_0011    56
VAR_0012    56
VAR_0013    56
VAR_0014    56
VAR_0015    56
VAR_0016    56
VAR_0017    56
VAR_0018    56
VAR_0019    56
VAR_0020    56
VAR_0021    56
VAR_0022    56
VAR_0023    56
VAR_0024    56
VAR_0025    56
VAR_0026    56
VAR_0027    56
VAR_0028    56
VAR_0029    56
            ..
VAR_1906     0
VAR_1907     0
VAR_1908     0
VAR_1909     0
VAR_1910     0
VAR_1911     0
VAR_1912     0
VAR_1913     0
VAR_1914     0
VAR_1915     0
VAR_1916     0
VAR_1917     0
VAR_1918     0
VAR_1919     0
VAR_1920     0
VAR_1921     0
VAR_1922     0
VAR_1923     0
VAR_1924     0
VAR_1925     0
VAR_1926     0
VAR_1927     0
VAR_1928     0
VAR_1929     0
VAR_1930     0
VAR_1931     0
VAR_1932     0
VAR_1933     0
VAR_1934     0
target       0
Length: 1934, dtype: int64

In [21]:
import numpy as np
import seaborn as sns